<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bf97b9">  <td>19/07/14 16:30:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.leafBot.testcases.CL@1f28c152]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>19/07/14 16:31:11</td>   <td>27403</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.leafBot.testcases.CL@1f28c152]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>19/07/14 16:29:48</td>   <td>-56245</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.leafBot.testcases.CL@1f28c152]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>19/07/14 16:30:44</td>   <td>324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.leafBot.testcases.CL@1f28c152]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>19/07/14 16:30:14</td>   <td>-30315</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CL.loginAndLogout(java.lang.String, java.lang.String)[pri:0, instance:com.leafBot.testcases.CL@1f28c152]">loginAndLogout</td> 
  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>19/07/14 16:31:05</td>   <td>20761</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CL.loginAndLogout(java.lang.String, java.lang.String)[pri:0, instance:com.leafBot.testcases.CL@1f28c152]">loginAndLogout</td> 
  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>19/07/14 16:29:46</td>   <td>-57837</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:com.leafBot.testcases.CL@1f28c152]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>19/07/14 16:29:46</td>   <td>-58047</td> <td>&nbsp;</td><td title="&gt;&gt;CL.setData()[pri:0, instance:com.leafBot.testcases.CL@1f28c152]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>19/07/14 16:29:46</td>   <td>-58024</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.leafBot.testcases.CL@1f28c152]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>19/07/14 16:29:45</td>   <td>-58809</td> <td title="&gt;&gt;Reporter.startReport()[pri:0, instance:com.leafBot.testcases.CL@1f28c152]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>19/07/14 16:31:12</td>   <td>27739</td> <td title="&lt;&lt;Reporter.stopReport()[pri:0, instance:com.leafBot.testcases.CL@1f28c152]">&lt;&lt;stopReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>19/07/14 16:31:12</td>   <td>27581</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.leafBot.testcases.CL@1f28c152]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
</table>
